body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
}

.head{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 100px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
  text-decoration: underline;
  
}

.form{
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.input{
  height: 25px;
  width: 250px;
  margin-right: 20px;
}

.btn{
  width:100px;
  font-weight: bold;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn:hover{
  background-color: rgb(51, 50, 50);
}

.btn:active{
  transform: scale(0.95);
}


span{
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: 0.8px;
}

p{
  margin-bottom: 30px;
  font-weight: 500;
}


@media (max-width: 600px){
  .container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  }
}

@media  (max-width: 400px){ 

  .head{
    font-size: 30px;
  }

  .container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-left: 20px;
  }

  .input{
  height: 25px;
  width: 150px;
  margin-right: 20px;
  }
}